body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

.input-container {
  position: relative;
  width: 300px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007bff;
}

label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #555;
  pointer-events: none;
  transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  transform: translateY(-100%) scale(0.8);
  font-size: 12px;
  color: #007bff;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.weatherCard{
    width: 400px;
    height: 350px;
    background-color: #fff;
    margin-top: 30px;
    position: relative;
    top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}